@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&family=Open+Sans:wght@800&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --flash-card-clr-light: #255996;
    --flash-card-clr-dark: #1b3049;

    --font-light: 300 1em "Merriweather Sans", sans-serif;
    --font-normal: 400 1em "Segoe UI", sans-serif;
    --font-bold: 600 1em "Merriweather Sans", sans-serif;
    --font-extra-bold: 800 1em "Merriweather Sans", sans-serif;
    --font-black: 900 1.5em "Segoe UI", sans-serif;
}
body {
    font-family: "Merriweather Sans", "Open Sans" sans-serif;
    background-color: #171f29;
}
/* 
.light {
    font: var(--font-light);
}

.normal {
    font: var(--font-normal);
}

.bold {
    font: var(--font-bold);
}

.extra-bold {
    font: var(--font-extra-bold);
}

.black {
    font: var(--font-black);
} */
.main {
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}
/* #255996 */
/* #1b3049 */

/* Flash Card Styling */
@keyframes slide-out {
    0% {
        transform: translateX(0%) scale(1);
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    100% {
        transform: translateX(-150%) scale(0.25);
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(150%) scale(0.25);
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateX(0%) scale(1);
    }
}
.flash-card__container {
    box-sizing: content-box;
    display: flex;
    overflow: hidden;
    width: min(32em, 77vw);
    padding: 7em 3em;
    height: fit-content;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flash-card__container::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: min(32em, 77vw);
    padding: 7em 3em;
    box-sizing: content-box;
    border: none;
    box-shadow: inset 0 0 1.5em 2em #171f29;
    pointer-events: none;
    z-index: 10;
}

.flash-card__container::after {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: min(31em, 77vw);
    padding: 7em 3em;
    box-sizing: content-box;
    border: none;
    border: 0.5em #171f29 solid;
    pointer-events: none;
    z-index: 11;
}
.flash-card {
    min-width: min(30em, 75vw);
    background-color: transparent;
    perspective: 50rem;
    transform-style: preserve-3d;
    transition: all 500ms ease-in-out;
    /* IMPORTANT: Set height with js based on the max clientHeight of either __front or __back. */
}

.flash-card__content:focus-visible .flash-card__back {
    outline: 2px solid white;
}

.flash-card__content:focus-visible .flash-card__front {
    outline: 2px solid white;
}

.flash-card__content {
    text-align: center;
    position: relative;
    transition: transform 0.75s ease-in-out;
    transform-style: preserve-3d;
    user-select: none;
    cursor: pointer;
    transition-duration: center center;
}

.flash-card.flash-card--front-visible .flash-card__content {
    transform: rotateY(0turn);
}

.flash-card.flash-card--back-visible .flash-card__content {
    transform: rotate3d(1, 1, 0, 0.5turn) rotateZ(-0.25turn);
}

.flash-card__front,
.flash-card__back {
    opacity: 1;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    min-height: fit-content;
    padding: 1em;
    color: white;
    box-shadow: 0.25rem 0.25rem 0.1rem #0002;
}

.flash-card__front {
    background-color: var(--flash-card-clr-light);
}
.flash-card__back {
    background-color: var(--flash-card-clr-dark);
    transform: rotateY(-0.5turn);
}

.flash-card__heading {
    font: var(--font-black);
    letter-spacing: 1px;
    margin: 0;
    transform-style: preserve-3d;
    padding: 0;
    padding-bottom: 0.75rem;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
    border-bottom: 0.025rem currentColor solid;
}

.flash-card__text {
    font: var(--font-normal);
    opacity: 0.75;
    margin-top: 1rem;
    /* max-height: 10rem; */
    padding: 0.25rem 0.5rem;
    position: relative;
}

.flash-card__subheading {
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font: var(--font-bold);
    font-size: 75%;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.flash-card__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* mi */
    flex-direction: row;
    /* border: 1px red solid; */
}
/* Difficulty Rating Styling */

.difficulty-rating__container {
    /* position: fixed;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%); */
}

.difficulty-rating {
    /* max-width: fit-content; */
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 0.5rem; */
    background-color: white;
    border-radius: 10rem;
    padding: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.075rem #0002;
    z-index: 100;
    /* border: 1px solid red; */
}

.difficulty-rating__button {
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    color: #444;
    font-size: 1.75rem;
    margin: 0.25rem;
    transition: transform 250ms ease, background-color 250ms linear, color 250ms ease;
}

.difficulty-rating__button:not(:disabled):hover,
.difficulty-rating__button:not(:disabled):focus-visible {
    outline: none;
    position: relative;
    cursor: pointer;
    transform: translateY(-7.5%);
    color: white;
}

.difficulty-rating__button::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    box-shadow: 0.075rem 0.075rem 0.075rem #0008;
    border-radius: 50%;
    width: 1.5em;
    aspect-ratio: 1;
    z-index: -1;
    opacity: 0;
    transition: opacity 200ms linear;
    pointer-events: none;
    /* background-color: red; */
}

.difficulty-rating__button:not(:disabled):hover::before,
.difficulty-rating__button:not(:disabled):focus-visible::before {
    opacity: 1;
}

.difficulty-rating__button:active {
    transform: translate(0, 0);
}

.difficulty-rating__button:active::before {
    opacity: 0;
}

.difficulty-rating__button:disabled {
    background-color: #888;
    cursor: not-allowed;
}
.difficulty-rating--easiest {
    background-color: #00b0e6cc;
}

.difficulty-rating--easiest:not(:disabled):hover,
.difficulty-rating--easiest:not(:disabled):focus-visible {
    background-color: #00b0e6;
}

.difficulty-rating--easy {
    background-color: #42a813cc;
}

.difficulty-rating--easy:not(:disabled):hover,
.difficulty-rating--easy:not(:disabled):focus-visible {
    background-color: #42a813;
}

.difficulty-rating--medium {
    background-color: #ffcc23cc;
}

.difficulty-rating--medium:not(:disabled):hover,
.difficulty-rating--medium:not(:disabled):focus-visible {
    background-color: #ffcc23;
}

.difficulty-rating--hard {
    background-color: #ff5a00cc;
}

.difficulty-rating--hard:not(:disabled):hover,
.difficulty-rating--hard:not(:disabled):focus-visible {
    background-color: #ff5a00;
}

.difficulty-rating--again {
    background-color: #be0d00cc;
}

.difficulty-rating--again:not(:disabled):hover,
.difficulty-rating--again:not(:disabled):focus-visible {
    background-color: #be0d00;
}

/* Navigation */

.navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 15.5em;
    background-color: #1b3049;
    min-height: 100vh;
    z-index: 100;
    transition: transform 250ms ease-out;
}

.navigation__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b3049;
    width: 3em;
    aspect-ratio: 1;
    position: absolute;
    left: 100%;
    top: 5%;
    border-radius: 0 50% 50% 0;
}

.navigation__toggle::before,
.navigation__toggle::after {
    position: absolute;
    margin: auto;
    background-color: transparent;
    border-radius: 50%;
    width: 1em;
    aspect-ratio: 1;
    z-index: -1;
    left: 0;
}

.navigation__toggle::before {
    bottom: 100%;
    box-shadow: -1rem 1rem 0px 12px #1b3049;
}

.navigation__toggle::after {
    top: 100%;
    box-shadow: -1rem -1rem 0px 12px #1b3049;
}

.navigation__toggle-button {
    appearance: none;
    border: none;
    width: 1.5em;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
}

.navigation--visible {
    transform: translateX(0%);
}

.navigation--hidden {
    transform: translateX(-100%);
}

.navigation__header {
    min-height: 5em;
    /* background-color: yellow; */
    width: 100%;
}

.navigation__items {
    min-height: 20em;
    padding: 0.5em 0.5em 0.5em 1em;
    height: 60vh;
    /* background-color: green; */
    width: 100%;
    display: block;
}

.navigation__item {
    width: 100%;
    list-style: none;
    /* padding: 0.5em 3em 0.5em 1em; */
    /* padding-left: 1em; */
    margin: 0.5em 0em;
    /* text-align: center; */
    transition: transform 250ms linear, background-color 250ms linear;
    display: block;
}

.navigation__link {
    color: white;
    position: relative;
    text-decoration: none;
    font: var(--font-bold);
    padding: 0.5em 0em;
    padding-left: 1em;
    box-sizing: content-box;
    /* width: 100%; */
    display: block !important;
    height: 100%;
    /* width: 200px; */
    margin: 0;
    /* border: 1px yellow solid; */
}

.navigation__item:hover {
    transform: translate(-2.5%, -5%);
}

.navigation__item::before {
    /* border: 1px red solid; */
    position: absolute;
    inset: 0;
    margin: auto;
    box-shadow: 0.125rem 0.125rem 0.075rem #0006;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms linear;
}

.navigation__item:hover::before {
    opacity: 1;
}

.navigation__item:nth-child(1):hover {
    background-color: #be0d00;
}

.navigation__item:nth-child(2):hover {
    background-color: #ff5a00;
}

.navigation__item:nth-child(3):hover {
    background-color: #ffcc23;
}

.navigation__item:nth-child(4):hover {
    background-color: #42a813;
}

.file-upload__input {
    position: fixed;
    left: -1000em;
}

.file-upload__label {
    width: fit-content;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
    text-align: center;
    border-radius: 2em;
    padding: 0.5em 1em;
    background-color: #255996;
    font: var(--font-extra-bold);
    color: white;
    position: relative;
    transition: transform 250ms linear, background-color 150ms linear;
    letter-spacing: 0.05ch;
}

.file-upload__label svg {
    font-size: 2rem;
}

.file-upload__label:hover,
.file-upload__label:focus-within {
    outline: none;
    background-color: #3b76b9;
    cursor: pointer;
    transform: translateY(-2.5%);
}

.file-upload__label::before {
    content: "";
    inset: 0;
    position: absolute;
    margin: auto;
    /* background-color: yellow; */
    border-radius: 5em;
    box-shadow: 0.1rem 0.1rem 0.075rem #0006;
    opacity: 0;
    transition: opacity 150ms linear;
}

.file-upload__label:hover::before,
.file-upload__label:focus-visible::before {
    opacity: 1;
}

@media (max-width: 45rem) {
    .difficulty-rating {
        flex-direction: row;
        border-radius: 0;
        width: 100vw;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .flash-card__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navigation {
        display: none;
    }
}

/* Custom Select */

/* .custom-select * {
    all: unset;
} */

.custom-select {
    color: #1b3049;
    min-width: 1.5em;
    height: 2em;
    background-color: currentColor;
    position: relative;
    margin: 0 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--font-bold);
    user-select: none;
    outline: none;
    transition-duration: 150ms;
    transition: color 150ms linear;
}
.custom-select[data-selected="$None_Selected$"] {
    color: #3d7921;
}

.custom-select * {
    outline: none;
}
.custom-select:focus-visible,
.custom-select:focus-within,
.custom-select:hover {
    color: #255996;
    cursor: pointer;
}

.custom-select:last-of-type {
    margin-right: 1.25em;
}
.custom-select__label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-anchor: middle;
    width: 100%;
    height: 100%;
    padding-bottom: 1px;
    color: #ccc;
    pointer-events: none;
    padding-inline: 0.25em;
    position: relative;
}
.custom-select:focus-visible .custom-select__label,
.custom-select:focus-within .custom-select__label,
.custom-select:hover .custom-select__label {
    color: white;
}

.custom-select[data-selected="$None_Selected$"] .custom-select__label::before,
.custom-select[data-selected="$None_Selected$"] .custom-select__label::after {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: white;
    z-index: 100;
    transform: translateX(0.075em);
}
.custom-select[data-selected="$None_Selected$"] .custom-select__label::before {
    width: 1em;
    height: 0.25em;
}
.custom-select[data-selected="$None_Selected$"] .custom-select__label::after {
    width: 0.25em;
    height: 1em;
}
.custom-select__box {
    min-width: 1em;
    height: 2em;
    background-color: currentColor;
    display: inline-block;
    position: relative;
}

.custom-select__box::before,
.custom-select__box::after {
    position: absolute;
    content: "";
    top: 0;
    height: 2em;
    width: 1em;
}
.custom-select__box::before {
    left: -1em;
}
.custom-select__box::after {
    right: -1em;
}
.custom-select__options {
    display: none;
    position: absolute;
    background-color: currentColor;
    top: 115%;
    left: -1.075em;
    width: calc(100% + 1.075em);
    min-width: min-content;
    margin: 0 auto;
    padding: 0;
    max-height: 10em;
    overflow-y: scroll;
    z-index: 100000;

    /* border: 2px solid black; */
    box-shadow: 0 0 0 0.05rem white;
}
.custom-select[data-selected="$None_Selected$"] .custom-select__options {
    transform: translateX(-0.15em);
}
.custom-select__options::-webkit-scrollbar {
    display: none;
}
.custom-select__options.show {
    display: block;
}

.custom-select:focus-visible .custom-select__options,
.custom-select:focus-within .custom-select__options {
    display: block;
}

.custom-select__option {
    padding: 0.25em;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 15em;
    color: white;
    background-color: #1b3049;
    font: var(--font-normal);
    transition: background-color 150ms linear;
}

.custom-select__option:hover,
.custom-select__option:focus-visible {
    content: "";
    cursor: pointer;
    background-color: #719ed1;
    color: black;
}
.custom-select__option.selected {
    font: var(--font-bold);
    background-color: #3b76b9;
    color: white;
}
.custom-select__option.selected:hover {
    cursor: default;
}

.custom-select__right-arrow::after {
    content: "";
    position: absolute;
    height: 2em;
    margin: auto;
    /* width: 2em; */
    top: 0;
    left: 100%;
    /* background-color: red; */
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid currentColor;
    /* box-shadow: 0.125em 0.125em 0.1em #0002; */
}

.custom-select__left-arrow,
.custom-select__right-arrow {
    pointer-events: none;
}
.custom-select__left-arrow::before {
    content: "";
    position: absolute;
    height: 1.5em;
    margin: auto;
    width: 1.5em;
    top: 0;
    right: 100%;
    border-top: 0.75em solid transparent;
    border-bottom: 0.75em solid transparent;
    border-right: 0.75em solid currentColor;
    transform: translate(50%, -50%) rotate(135deg);
}
.custom-select__left-arrow::after {
    content: "";
    position: absolute;
    height: 1.5em;
    margin: auto;
    width: 1.5em;
    bottom: 0;
    right: 100%;
    border-top: 0.75em solid transparent;
    border-bottom: 0.75em solid transparent;
    border-right: 0.75em solid currentColor;
    transform: translate(50%, 50%) rotate(-135deg);
}

.card-tree-select {
    display: flex;
    width: 50vw;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3em 1em;
    flex-wrap: wrap;
}

.card-tree-select__button {
    appearance: none;
    background-color: #be0d00;
    color: white;
    /* transform: skew(-20deg); */
    border: none;
    padding: 0.25em 0.5em;
    height: 2em;
    font: var(--font-extra-bold);
    /* margin-left: 1em; */
    transition: background-color 150ms linear, transform 150ms linear;
    position: relative;
}
.card-tree-select__button:hover {
    cursor: pointer;
    background-color: #d41a0d;
    transform: translateY(-2.5%);
}

.card-tree-select__button::before,
.card-tree-select__button::after {
    color: #be0d00;
    content: "";
    position: absolute;
    top: 0;
    left: -1em;
    /* width: 2em; */
    border: 1em transparent solid;
    transition: color 150ms linear;
}

.card-tree-select__button::before {
    left: 100%;
    border-left-color: currentColor;
}

.card-tree-select__button::after {
    left: -2em;
    border-right-color: currentColor;
}

.card-tree-select__button:hover::before,
.card-tree-select__button:hover::after {
    color: #d41a0d;
}
